.slider-container {
    max-width: 100%;
    position: relative;
    overflow: hidden;
    height: auto;
    margin-bottom: 0;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: auto;
    width: 100%;
}

.slider img {
    width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .slider-container {
        padding-bottom: 0;
    }
    .slider img {
        width: 100%;
    }
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev { left: 10px; }
.next { right: 10px; }
